<div class="main">
    <div class="container">
        <div class="blog">
        <div class="button-breather">
            <%= link_to 'New Post', new_post_path, :class => "btn-lg newpost" %><br>
        </div>
        
            <% @posts.each do |p| %>
            <div class="eachpost">
                <div class="blogtitle">
                    <div class="row">
                        <div class="col-md-9">
                                <h1><%=link_to p.title, post_path(p) =%></h1>
                                
                        </div>
                        <div class="col-md-3">
                                <p class="date"> <%= p.created_at.strftime("%B, %d, %Y") =%> </p>
                        </div>
                    </div>
                </div>
                <div class="blogbody">
                    <p><%= simple_format(p.body) =%></p>
                    <%= link_to "edit", edit_post_path(p), class: "button_to links" %>
                    <%= button_to "delete", post_path(p), method: :delete, data: {confirm: "Really delete the post?"}, class: "links" %>
                    
                    
                </div>
                
            </div> 
            <% end %>
        
        </div>
    </div>
</div>