<div class="main">
<div class="container">    
    <div class="blog">
    <div class="eachpost">
        <div class="blogtitle">
            <h1><%= @post.title %></h1>
        </div>
        <div class="blogbody">
            <p class="date"> <%= @post.created_at.strftime("%B, %d, %Y") =%> </p>
            <p><%= @post.body %></p>
            <%= link_to "edit", edit_post_path(@post), class: "button_to links" %>
            <%= button_to "delete", post_path(@post), method: :delete, data: {confirm: "Really delete the post?"}, class: "links" %>
            <%= link_to "see all posts", posts_path, class: "button_to links" %>
        </div>
    </div>
        <%= render partial: 'comments/form' %>
        <%= render partial: 'posts/comment', collection: @post.comments %>
    </div>
</div>
</div>